h1{
	color: red;
	font-size:  100px;
}
p, h2{
	color:  blue;
	font-stle: italic;
	font-size: 100px;
}
p, h3{
	color:  violet;
	font-stle: italic;
	font-size: 50px;
}
pre{
	display:  block;
	font-family: monospace;
	white-space: pre;
}
p, li{
	color: red;
	font-size: 80px;
}
img{
	border: 100px solid #aaa;
	border-radius: 4px;
	padding: 10px;
	width: 50px;
}

/*
img{
	background-color:  red;
}

*/

.mario{
	background-color:  blue;
	height: 20%;
	width: 10%;
}
.pacman{
	background-color: red;
	height: 20%;
	width: 10%;
}
.cong{
	background-color: green;
	height: 20%;
	width: 10%;
}
.tetris{
	background-color: yellow;
	height: 20%;
	width: 10%;
}



#heading{
	color: violet;
}
 .special{
 	color: orange;
 	font-weight: bold;
 }
 .food{
 	display: flex;
 	font-size: 60px;	
 }
 .food>div{
 	flex: 1;
 	flex: 2;
 	flex: 3;
 	flex: 4;
 }
 .food{
 	display: grid;
 	grid-template-columns: 1fr 1fr 1fr 1fr;
 	grid-template-rows: 100px 100px;
 	grid-gap: 10px;
 }
 /*
 .center{
	text-align: center;
	color: violet;
}

p.large{
	
	font-size: 300%;
}

#one{
	color: red;
}